@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    font-family: 'Lora', serif;
    margin: 0px;
}

:root {
    --primary: #059669;
    --dark-gray: #475569;
    --gray:#6B7280;
}

.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.primary-link {
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    width: max-content;
    min-width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.secondary-link {
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    width: max-content;
    min-width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/** nav **/
.navigationbar {
    background-color: var(--primary);
    padding: 1rem 0rem;
    color: white;
    border-radius: 0.5rem;
}

.navigationbar .brand {
    font-weight: bold;

}

.navigationbar ul {
    list-style: none;
    text-align: right;
}

.navigationbar li {
    display: inline-block;
    padding: 0rem 0.8rem;;
}

.navigationbar a {
    text-decoration: none;
    color: white
}

.navigationbar .active {
    font-weight: bold;
}

/* section partition */
hr {
    margin: 2rem 0;;
}

/** header **/

.header {
    color: var(--dark-gray);
    display: block;
}

.header img {
    max-width: 350px;
    margin: auto;
    display: block;
}

/** section **/

.section {
    padding: 2rem 0rem;
}

.section h2 {
    text-align: center;
}

.offwhite {
    background-color: var(--gray);
}